<%- include("header.ejs") %>


<h1>Pokemon list</h1>
<p>(up to 50)</p>
<ol>
  <% for(let pokemon of results) {
    console.log(pokemon);  
    -%>
    <li>
    <!-- Pass in an object with name and create properties with next api -->
    <a href="/pokemon/<%- pokemon.name %>"><%- pokemon.name %></a>
    </li>
  <% } %>
</ol>
<a href="/">Back to menu</a>
</body>
</html>
