<%- include("header.ejs", {title:"All Students"}) %>

    <h1>Enrolled Students</h1>

    <ul>
    <% for (let Student of studentList) { %>
      <li><a href="<%- Student.url %>"><%- Student.name %></a></li>
    <% } %>
    </ul>

    <a href="/students/create/">Create a student</a>


    <%- include("footer.ejs")%>