<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
  </head>
  <body>
    <h1 style="font: 2em sans-serif"><%= message %></h1>
    <h2 style="font: 2em sans-serif"><%= error.status %></h2>
    <pre><%= error.stack %></pre>
    <h3 style="font: 1.5em sans-serif">
      "To err is human, to forgive, divine." - Alexander Pope
    </h3>
    <a href="/">Back to menu</a>
  </body>
</html>
